.main_section
  .wrap.container-fluid
    :scss
      .reboot {
        text-align: center;
        img {
          height: 500px;
        }
        h2 {
          margin-top: 50px;
        }
      }
    .reboot
      = image_tag 'newsoundforjapan.png'
      %h2 Quality Sound. Quality People.
      
