.main_section
  .wrap.container-fluid
    :scss
      .reboot {
        text-align: center;
        img {
          height: 500px;
        }
        h2 {
          margin-top: 50px;
          margin-bottom: 30px;
        }
      }
    .reboot
      = image_tag 'newsoundforjapan.png'
      %h2 Quality Sound. Quality People.
      %p 
        Get ready, because we're bringing back the good shit.
      %p
        Beta Coming Soon.<br>
        = link_to 'Check it out on GitHub', 'http://github.com/buhrmi/newsoundforjapan'
      
