@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,200,700);

$navWidth: 280px;
$headerHeight: 70px;
$brandColor: #bf256c;

header {
  z-index: 1;
  padding-top: 0px;
  padding-bottom: 0px;
  height: $headerHeight;
  width: 100%;
  background-color: #282c34;
  position: fixed;
  border-bottom: 1px solid #242427;
  .features {
    position: absolute;
    top: 100px;
    left: 131px;
    p {
      display: inline-block;
      margin-left: 40px;
      color: #797f8c
    }
  }
  .user_area {
    float: right;
    height: $headerHeight;
    
    border-left: 1px solid #242427;
    padding-top: 12px;
    vertical-align: middle;
    .signed_out {
      padding-left: 20px;
      padding-top: 20px;
    }
    .profile_image {
      vertical-align: middle;
      height: 50px;
      border-radius: 50px;
      vertical-align: middle;
    }
    .sign_up {
      background: $brandColor;
      padding: 3px 10px;
      color: #EEEEFE;
      margin-left: 20px;
    }
    .facebook {
      background: #3b5998;
      padding: 3px 10px;
      color: #EEEEFE;
      margin-left: 20px;
      .fa {margin-right: 6px;}
    }
  }
  .small_logo img {
    margin-top: 17px;
    // margin-left: 20px;
    width: 360px;
    display: inline-block;
  }
  .language_select {
    float: right;
    
    margin-right: 20px;
    a {
      display: inline-block;
      height: $headerHeight;
      color: #797f8c;
      padding: 16px 12px 0;
      transition: all 200ms ease;
      &.active, &:hover {
        color: #EEEEFE;
        // color: $brandColor;
        // background-color: #3b3e48;
        border-top: 5px solid $brandColor;
        
      }  
    }
  }
}

nav {
  z-index: 22;
  position: fixed;
  top: $headerHeight;
  left: 0;
  width: $navWidth;
  height: 100%;
  color: #f3f5f5;
  border-right: 1px solid #242427;
  background-color: #282c34;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  transition: all 200ms ease;
  ul {
    a {
      color: #EEEEFE;
    }
  }
  li.item {
    cursor: pointer;
    line-height: 50px;
    text-transform: uppercase;
    padding: 0 10px 0 26px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  li.item.on, li.item:hover {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: inset 10px 0 0 $brandColor;
    i.fa {
      color: $brandColor;
      transform: rotateY(360deg);
    }
  }
  li.title, li.title:hover, li.title:focus, li.title:active {
    font-weight: 400;
    line-height: 60px;
    padding: 0 30px;
    color: $brandColor;
    font-size: 20px;
    text-transform: none;
  }
  li {
    // font-weight: 400;
    padding: 0 10px;
    transition: all 300ms ease;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    i.fa:not(.fa-rotate-90) {
      margin-right: 15px;
      text-shadow: none;
      transition: transform 600ms ease;
      transform: rotateY(0deg);
    }
  } 
}

main {
  padding-left: $navWidth;
  padding-top: $headerHeight;
  .content {
    margin-top: 20px;
    padding-bottom: 180px;
    position: relative;
    .content_header {
      // padding: 20px;
      
      
    }
  }
}



footer {
  padding-left: $navWidth;
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 120px;
  padding-top: 40px;
  background-color: #282c34;
}


body {
  background-color: #3b3e48;
  position: relative;
  color: #EEEEFE;
  font-weight: 400;
  font-family: 'Titillium Web', sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 19px;
}

a {
  color: #4777FF;
  // color: $brandColor;
  text-decoration: none;
}
