

.redactor-editor.redactor-editor, .redactor-editor.redactor-editor * {
  font-family: inherit !important;
  font-size: inherit !important;
  color: inherit !important;
}

.redactor-editor, .redactor-box {
    background: #464a55 !important;
}

.redactor-editor {
  border: 1px solid #7b818c !important;
}
