@import 'globals';

.girls1 {
  @include aspect-ratio(16, 9);
  background-image: asset-url('marketing/girls.jpg');
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 50%;
}
.girls2 {
  @include aspect-ratio(16, 9);
  background-image: asset-url('marketing/ageha.jpg');
  background-size: cover;
  background-position: center;
  display: inline-block;
  width: 50%;
}
