!!!5
%html
  %head
    %title Newsoundforjapan
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .content
      .top_section
        .wrap.container-fluid
          .row
            .col-xs-12
              .hero
                .hero_image
                .features
                  %p.awesome Amazing Sound
                  %p.pay Pay what you want
                  %p.ticket Get tickets
                  %p.meet Meet the artists
                  %p.charity Support charity
                .language_select
      = yield
    .footer
      .wrap.container-fluid
        %p Copyright 2016 New Sound For Japan
        %p
          Want to do something similar in your country?
          %a(href="mailto:hello@newsoundforjapan.com") Get in touch.



    -# = yield
